// *colors
// **************************
$c-border: #fcfcfc;
$c-error: #ff0000;
$c-input-text: #00004d


 // *Fonts
 // ***************************


 // *paddings, margins
// **************************



// Breakpoints
//***********************


//Sizes
// *********************

